.head-sec{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 80vh;
}
.head-decor{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 260px;     
    height: 200px;
    z-index: 1;
    pointer-events: none;
    opacity: 0.2;
}
.head-left{
    height: 70vh;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* container gives perspective */
.left-container{
    position: relative;
    width: 280px;
    height: 380px;
    perspective: 1000px;
}

.left-back{
    position: absolute;
    inset: 0;
    background: linear-gradient(135deg, #111, #333);
    border-radius: 16px;
    transform: rotate(-8deg) translate(-20px, 20px);
    z-index: 1;
    transition: all 0.5s ease;
}

.left-img{
    position: absolute;
    inset: 0;
    background-color: #b1b1b1;
    border-radius: 16px;
    z-index: 2;
    overflow: hidden;
    box-shadow: 0 25px 40px rgba(0,0,0,0.25);
    transition: all 0.5s ease;
}

.left-container:hover .left-back{
    transform: rotate(-12deg) translate(-30px, 30px);
}

.left-container:hover .left-img{
    transform: translate(10px, -10px);
}

.left-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
